<div class="row">
    <div class="col-sm-6">
        <h5>Please choose the</h5>
        <span class="glyphicon glyphicon-star-empty glyphicon-lg"></span>
        <h5>if you are confident in your answer and you will get a point if your correct</h5>
    </div>
    <div class="col-sm-6">
        <h5>Please choose the</h5>
        <span class="glyphicon glyphicon-cloud glyphicon-lg"></span>
        <h5>if you are not confident and you will have a 50% chance of receiving a point</h5>
    </div>
</div>
<br/>
<br/>
<p>Click here to continue</p>