<h2>Please choose which image you thought you previously saw</h2>
<div class="row">
    <div class="col-sm-4">
        <img src="static/images/cliparts/birds-5/<%- memory_image_number_1 %>.png" class="memory_image" alt=""/>
    </div>
    <div class="col-sm-4">
        <img src="static/images/cliparts/birds-5/<%- memory_image_number_2 %>.png" class="memory_image" alt=""/>
    </div>
    <div class="col-sm-4">
        <img src="static/images/cliparts/birds-5/<%- memory_image_number_3 %>.png" class="memory_image" alt=""/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-4"><p>Press 1</p></div>
    <div class="col-sm-4"><p>Press 2</p></div>
    <div class="col-sm-4"><p>Press 3</p></div>
</div>
