<!doctype html>
<html>

<head>
    <title>Consent Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css"></link>
    <link rel="stylesheet" href="static/css/style.css" type="text/css"></link>
</head>

<body>
    <div id="header_template"></div>
    <div id="container-consent" class="container">
        <script type="text/javascript">
        function onExit() {
            self.close();
        }

        function getQueryParams(qs) {
            qs = qs.split('+').join(' ');

            var params = {},
                tokens,
                re = /[?&]?([^=]+)=([^&]*)/g;

            while (tokens = re.exec(qs)) {
                params[decodeURIComponent(tokens[1])] = decodeURIComponent(tokens[2]);
            }

            return params;
        }

        function startExp() {
            var code = getQueryParams(document.location.search).code;
            window.location = 'exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}&code='+code;
        }
        </script>
        <div id="consent_template"></div>
    </div>
    <script src="static/lib/require-2.1.17.min.js" data-main="static/js/consent.js"></script>
</body>

</html>
