<!doctype html>
<html>

<head>
    <title>Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css"></link>
    <link rel="stylesheet" href="static/css/style.css" type="text/css"></link>
</head>

<body>
    <div id="header_template"></div>
    </div>
            <script>(function(e,t,n,o){var s,c,i;e.SMCX=e.SMCX||[],t.getElementById(o)||(s=t.getElementsByTagName(n),c=s[s.length-1],i=t.createElement(n),i.type="text/javascript",i.async=!0,i.id=o,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/PK58ImaeWBhby_2BvOXMW6N4ijYVZEgvThRFRt3bzmPHJXrf9vKde5kWbnLz_2BDSpL1.js"].join(""),c.parentNode.insertBefore(i,c))})(window,document,"script","smcx-sdk");</script>
            <a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com/mp/customer-satisfaction-surveys/> Create your own user feedback survey </a>
    <script src="static/lib/require-2.1.17.min.js" data-main="static/js/survey.js"></script>
</body>

</html>

